- attributes("title") = "Geekbookmarks"
- attributes("headline") = "Geekbookmarks"
-import me.lilacpenguin.geekbookmarks.data.models.Record
-@ val items: List[Record]
-@ val search: String = ""

-for(item <- items)
  .post
    h4.post-title
      a(href="#{item.url}")
        -if(!item.faviconUrl.isEmpty)
          img(src="#{item.faviconUrl}")
        =item.name
      a.remove-link(href="/records/remove/#{item.id}")
        i.ion-close-round.remove-button

    p.post-meta
      =item.addedAt
      a.text-muted.host-url(href="http://#{item.host()}") 
        i.glyphicon.glyphicon-link
        =item.host()
      
      -for(tag <- item.tags)
        a.badge(href="/tags/#{tag}") =tag
      
    p.post-meta =item.description

    hr
